header {
  background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
  height: 250px;
  width: 100%;
  padding: 41px 270px;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 70px;
}